# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
*.log
logs/
*.tmp

# Environment
.env
.env.*
!.env.example

# Expo
.expo/
.expo-shared/
.expo/web-build/
.expo/packager-info.json
.expo/settings.json

# Metro bundler
.metro-cache/
.cache/

# Bundler artifacts
dist/
build/
web-build/

# React Native Android
android/app/build/
android/.gradle/
android/.idea/
android/local.properties
android/app/release/
android/app/debug/
*.keystore
*.jks

# React Native iOS
ios/build/
ios/Pods/
ios/.generated/
*.xcworkspace
*.xcuserstate
*.xcuserdata/
project.xcworkspace/
*.pbxuser
*.mode1v3
*.mode2v3

# VSCode
.vscode/
.history/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# MacOS
.DS_Store

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Temporary
tmp/
temp/


expo-env.d.ts
